<form method="post" action="/admin/ills/<%= @ill["illid"] %>/edit_ill/update">
  <label for="ill_name">Illness Name:</label><br>
  <input type="text" id="ill_name" name="ill_name" value="<%= @ill['name'] %>"><br><br>

  <label for="ill_desc">Description:</label><br>
  <textarea id="ill_desc" name="ill_desc"><%= @ill['description'] %></textarea><br><br>

  <label>Treatments:</label><br>
  <% @meds.each do |med| %>
    <% is_checked = @med_ills.find { |med_ill| med_ill['medid'] == med['medid'] } %>
    <input type="checkbox" id="med_<%= med["medid"] %>" name="med_ids[]" value="<%= med['medid'] %>" <%= is_checked ? 'checked' : '' %>>
    <label for="med_<%= med["medid"] %>"><%= med['name'] %></label><br>
  <% end %>

  <input type="submit" value="Update Illness">
</form>